# Exploratory Data Analysis

- The goal of this notebook is to find interesting relationships in the data that can be considered when building a model
- Key links:

[Read Dataset](#Read-Dataset)  
[Overivew of Dataset](#Overview-of-Dataset)

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import pandas as pd 
import pandas as pd
import numpy as np
from IPython.display import Markdown

## Read Dataset

[Back to top](#Exploratory-Data-Analysis)

In [7]:
data=pd.read_csv("Data/hospital_readmissions.csv")

## Overview of Dataset

[Back to top](#Exploratory-Data-Analysis)

### First five rows of the dataset

In [12]:
data.head()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no

In [10]:
num_cols, num_rows = data.shape

Markdown(f"""
- The number of columns in this dataset is: {num_cols:,.0f}
- The number of rows is: {num_rows}
""")

- The number of columns in this dataset is: 25,000
- The number of rows is: 17

In [31]:
text_columns = [i for i, v in zip(data.dtypes.index,data.dtypes) if v == 'object']
numeric_columns = [i for i, v in zip(data.dtypes.index,data.dtypes) if v != 'object']


Markdown("""
- The following variables are text: 
  - {}
- The following variables are numeric: 
  - {}
""".format(
    '\n  - '.join(text_columns),
    '\n  - '.join(numeric_columns),
))

- The following variables are text:
  - age
  - medical_specialty
  - diag_1
  - diag_2
  - diag_3
  - glucose_test
  - A1Ctest
  - change
  - diabetes_med
  - readmitted
- The following variables are numeric:
  - time_in_hospital
  - n_lab_procedures
  - n_procedures
  - n_medications
  - n_outpatient
  - n_inpatient
  - n_emergency

### Check for null values

In [3]:
print(Data_Set.isnull().sum())

(25000, 17)
age                  object
time_in_hospital      int64
n_lab_procedures      int64
n_procedures          int64
n_medications         int64
n_outpatient          int64
n_inpatient           int64
n_emergency           int64
medical_specialty    object
diag_1               object
diag_2               object
diag_3               object
glucose_test         object
A1Ctest              object
change               object
diabetes_med         object
readmitted           object
dtype: object
age                  0
time_in_hospital     0
n_lab_procedures     0
n_procedures         0
n_medications        0
n_outpatient         0
n_inpatient          0
n_emergency          0
medical_specialty    0
diag_1               0
diag_2               0
diag_3               0
glucose_test         0
A1Ctest              0
change               0
diabetes_med         0
readmitted           0
dtype: int64